@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

    .header-top {
        background-color: #1e2e43;
        color: #fff;
        padding: 15px 0;
        text-align: center;
    }

    .header-size {
        width: 1600px;
        margin: 0 auto;
    }

    .header-bottom {
        background-color: #fff;
        padding: 25px 0;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
    }

    .header-menu-flex {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
    }

    ul li {
        list-style: none;
        margin-left: 50px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #1e2e43;
        color: #fff;
        padding: 20px 0;
    }

    footer p {
        text-align : center;
    }