@charset 'utf-8';

body {
    background-color: #f5f5f5;
}
.container {
    background-color: #fff;
    width: 450px;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px 2px #ccc;
    /* 3번째 떠있는 느낌 4번째 번짐 정도 */

    padding: 60px 40px;
}
.container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.container form label {
    /* 인라인 타입인 label을 블록으로 변경(줄 바뀜) */
    display: block; 
    margin: 5px 0;
    /* 700, 800, bold 다 가능 */
    font-weight: bold;
}
.container form input {
    /* 부모인 container의 크기를 따라감 */
    width: 100%;
}
.container form input[type='text'], .container form input[type='password'] {
    border: 1px solid #ced4da;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    outline: 0;
    margin-bottom: 15px;
}
.container form input[type='text']:focus, .container form input[type='password']:focus {
    box-shadow: 0 0 0 1.5px rgba(13, 100, 256, 0.25);
    border-color: #86b7fe;
}
.container form input[type='radio'] {
    width: 15px;
    height: 15px;
}
.container form span {
    vertical-align: top;
    margin-right: 10px;
}
.selWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.selWrap .selBox {
    flex-basis: 49%;
}
select {
    width: 100%;
    border: 1px solid #ced4da;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    outline: 0;
    margin-bottom: 15px;
}
.btn-wrap {
    text-align: right;
}
.btn-wrap button {
    background-color: #0b5ed7;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 12px 15px;
    font-weight: bold;
    margin-bottom: 40px;
}
.btn-wrap button:hover {
    opacity: 0.9;
}
a:hover {
    text-decoration: underline;
}

@keyframes fadeOut {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}
.alert {
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    background-color : #000;

/*
    animation-name : fadeOut;
    animation-duration : 2s;
    animation-iteration-count : infinite; */
}
.alert p {
    color : #fff;
    text-align : center;
}