<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
  />

  <title>관리자 - 마이페이지/ 내정보</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"
  />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="../assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../assets/js/config.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div class="card" th:if="${session.admin != null}" >
  <input type="hidden" th:value="${session.admin.grpEmpId}" name="admin" class="grpEmpId">
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <div th:insert="~{fragment/adminLeft :: admin-left}"></div>

      <!-- Layout container -->
      <div class="layout-page">

        <div th:insert="~{fragment/adminHeader :: admin-header}"></div>

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">마이페이지 /</span> 내 정보</h4>

            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                  <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> 내 정보</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/not">
                      <i class="bx bx-bell me-1"></i> 내가 쓴 게시물
                    </a>
                  </li>
                </ul>
                <div class="card mb-4">
                  <h5 class="card-header">Profile Details</h5>
                  <!-- Account -->
                  <div class="card-body">
                    <div class="empPhoto" th:if="${session.admin.grpEmpImageName != ''}">
                      <img
                              th:src="@{../../upload/} + ${session.admin.grpEmpImageName}"
                              alt=""
                              class="d-block rounded"
                              height="100"
                              width="100"
                      >
                      <div class="photoBtn">
                        <button class="imgbtn btn btn-primary me-2" th:onclick="modal([[${session.admin.grpEmpId}]])">IMAGE UPLOAD</button>
                        </br>
                        <p class="text-muted mb-0b sabun">사번 : [[${session.admin.grpEmpId}]]</p>
                      </div>
                    </div>

                    <div class="empPhoto" th:unless="${session.admin.grpEmpImageName != ''}">
                      <img
                              th:src="@{/images/avatar/person.png}"
                              alt=""
                              class="d-block rounded"
                              height="100"
                              width="100"
                      >
                      <div class="photoBtn">
                        <button class="imgbtn btn btn-primary me-2" th:onclick="modal([[${session.admin.grpEmpId}]])">IMAGE UPLOAD</button>
                        </br>
                        <p class="text-muted mb-0 sabun">사번 : [[${session.user.grpEmpId}]]</p>
                      </div>
                    </div>

                  </div>

                  <hr class="my-0" />
                  <div class="card-body">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                      <div class="row">
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpName" class="form-label">Name</label>
                          <input
                                  class="form-control grpEmpName"
                                  type="text"
                                  id="grpEmpName"
                                  name="grpEmpName"
                                  th:value="${session.admin.grpEmpName}"
                                  disabled
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpUserid" class="form-label">Userid</label>
                          <input class="form-control grpEmpUserid"
                                 type="text"
                                 name="grpEmpUserid"
                                 id="grpEmpUserid"
                                 th:value="${session.admin.grpEmpUserid}"
                                 disabled
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpPasswd" class="form-label">Password</label>
                          <input
                                  class="form-control grpEmpPasswd"
                                  type="password"
                                  id="grpEmpPasswd"
                                  name="grpEmpPasswd"
                                  th:value="${session.admin.grpEmpPasswd}"
                                  placeholder="Password."
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpPasswd2" class="form-label">Repeat Password</label>
                          <input
                                  type="password"
                                  class="form-control grpEmpPasswd2"
                                  id="grpEmpPasswd2"
                                  name="grpEmpPasswd2"
                                  placeholder="Repeat Password."
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpDept" class="form-label">Dept</label>
                          <input
                                  class="form-control grpEmpDept"
                                  type="text"
                                  id="grpEmpDept"
                                  name="grpEmpDept"
                                  th:value="${employees.grpDeptName}"
                                  placeholder="Dept."
                                  disabled
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpPos" class="form-label">Pos</label>
                          <input type="text"
                                 class="form-control grpEmpPos"
                                 id="grpEmpPos" name="grpEmpPos"
                                 placeholder="Pos."
                                 th:value="${employees.grpPosName}"
                                 disabled
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="chkEmail" class="form-label">Email</label>
                          <input class="form-control grpEmpEmail"
                                 type="text"
                                 id="chkEmail"
                                 name="grpEmpEmail"
                                 placeholder="California"
                                 th:value="${session.admin.grpEmpEmail}"
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpBirth" class="form-label">Birth</label>
                          <input
                                  type="text"
                                  class="form-control grpEmpBirth"
                                  id="grpEmpBirth"
                                  name="grpEmpBirth"
                                  placeholder="00.00.00"
                                  maxlength="10"
                                  th:value="${session.admin.grpEmpBirth}"
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpPnum" class="form-label">Phone Number</label>
                          <input
                                  type="text"
                                  class="form-control grpEmpPnum"
                                  id="grpEmpPnum"
                                  name="grpEmpPnum"
                                  placeholder="00.00.00"
                                  maxlength="13"
                                  th:value="${session.admin.grpEmpPnum}"
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpTel" class="form-label">Tel</label>
                          <input
                                  type="text"
                                  class="form-control grpEmpTel"
                                  id="grpEmpTel"
                                  name="grpEmpTel"
                                  placeholder="0000"
                                  maxlength="4"
                                  th:value="${session.admin.grpEmpTel}"
                                  disabled
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpStartdate" class="form-label">StartDay</label>
                          <input
                                  type="text"
                                  class="form-control grpEmpStartdate"
                                  id="grpEmpStartdate"
                                  name="grpEmpStartdate"
                                  placeholder="0000.00.00"
                                  maxlength=""
                                  th:value="${#temporals.format(session.admin.grpEmpStartdate, 'yyyy. MM. dd')}"
                                  disabled
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="grpEmpModified" class="form-label">UpdateDay</label>
                          <input
                                  type="text"
                                  class="form-control grpEmpModified"
                                  id="grpEmpModified"
                                  name="grpEmpModified"
                                  placeholder="0000.00.00"
                                  maxlength=""
                                  th:value="${#temporals.format(session.admin.grpEmpModified, 'yyyy. MM. dd')}"
                                  disabled
                          />
                        </div>
                      </div>
                      <div class="mt-2">
                        <button type="button" class="btn btn-primary me-2" onclick="chkUpdate()" >Save changes</button>
                        <a href="/admin/main">
                          <button type="button" class="btn btn-outline-secondary">Main</button>
                        </a>
                      </div>
                    </form>
                  </div>
                  <!-- /Account -->
                </div>

              </div>
            </div>
          </div>
          <!-- / Content -->

          <div th:insert="~{fragment/footer :: footer}"></div>

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <div class="buy-now">
    <a href="#" class="btn btn-danger btn-buy-now" onClick="javascript:window.scrollTo(0,0)">맨 위로</a>
  </div>
</div>

<div th:unless="${session.admin != null}">
  <script>
        alert("로그인이 필요합니다.");
        location.href = '/login';
    </script>
</div>
<!-- Core JS -->

<!-- IMAGE UPLOAD(MODAL) -->
<style>
        #modal {
            position : absolute;
            top : 0;
            left : 0;
            width : 100%;
            height : 100%;
            background-color : rgba(0, 0, 0, 0.75);
            display : none;
        }
        .close {
            color : #fff;
            font-size : 60px;
            position : absolute;
            top : 20px;
            right : 20px;
            cursor : pointer;
        }

        .modal-box {
            width: 400px;
            padding: 50px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #modal button {
            background-color: rgba(80, 61, 250, 0.8);
            border: 0;
            color: #fff;
            padding: 10px 12px;
            text-align: center;
            cursor: pointer;
            margin-top: 10px;
        }
    </style>

<div id="modal">
    <span class="close" th:onclick="closeModal()">
        <i class="fa-solid fa-x"></i>
    </span>
  <div class="modal-box">
    <form>
      <input type="file" name="uploadFile" class="uploadFile" /><br />
      <button type="button" id="btn">Image Upload</button>
    </form>
  </div>
</div>
<script>
        function modal(grpEmpId) {
            document.querySelector("#modal").style.display = "block";
            document.querySelector("#btn").addEventListener("click", function() {

                let frmData = new FormData();
                frmData.append("uploadFile", $(".uploadFile")[0].files[0]);
                frmData.append("grpEmpId", grpEmpId);

                $.ajax({
                    type: "post",
                    url: "/admin/mypage/upload",
                    encType: "multipart/form-data",
                    data: frmData,
                    processData:false,
                    contentType: false,
                    cache: false,
                    success: function(res) {
                        if(res.msg == "success") {
                            alert("사진이 변경 되었습니다.");
                            location.reload(true);
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });

            });
        }

        function closeModal() {
            document.querySelector("#modal").style.display = "none";
        }
    </script>
<!-- // IMAGE UPLOAD(MODAL) -->

<script th:src="@{/js/admin-mypage.js}"></script>


<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/pages-account-settings-account.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
