<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css?after}">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div class="container">
    <div class="title">
        <h1 class="t1">GroupWare</h1>
        <h1 class="t2">Login</h1>
    </div>

    <form method="post" action="/login" onsubmit="return frmCheck()">
        <div class="form-row">
            <div class="input-data">
                <input type="text" name="grpEmpUserid" class="grpEmpUserid" id="grpEmpUserid" required>
                <label for="grpEmpUserid">Userid.</label>
            </div>
            <br>
            <div class="input-data">
                <input type="password" name="grpEmpPasswd" class="grpEmpPasswd" id="grpEmpPasswd" required>
                <label for="grpEmpPasswd">Password.</label>
            </div>
        </div>

        <div class="btn">
            <button class="btn1" id="login" type="submit">Login</button>
        </div>

        <div class="btn-wrap">
            <div class="find">
                <div class="find-id">
                    <a href="#"><strong>아이디를 잊으셨나요?</strong></a>
                </div>
                <div class="find-passwd">
                    <a href="#"><strong>비밀번호를 잊으셨나요?</strong></a>
                </div>
            </div>
            <div class="register">
                <span class="no-emp">아직 회원이 아니신가요? </span>
                <a href="/register" class="btn2"><strong>회원가입</strong></a>
            </div>
        </div>
    </form>
</div>

<script>
     function frmCheck() {
        let grpEmpUserid = $(".grpEmpUserid");
        let grpEmpPasswd = $(".grpEmpUPasswd");

        if( !grpEmpUserid ) {
            alert("아이디를 입력해주세요");
            grpEmpUserid.focus();
            return false;
        }

        if( !grpEmpPasswd ) {
            alert("비밀번호를 입력해주세요");
            grpEmpPasswd.focus();
            return false;
        }
     }

</script>
</body>
</html>