<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="admin-left">
  <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="/admin/main" class="app-brand-link">
        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="color: #7d80ff">GRPWARE</span>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">

      <!-- Pages -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">마이페이지</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/admin/mypage" class="menu-link">
              <div data-i18n="Account">내 정보</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/admin/not" class="menu-link">
              <div data- i18n="Notifications">내 글</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Form Elements">전자결재</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/doc/list" class="menu-link">
              <div data-i18n="Tables">문서목록</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/doc/write" class="menu-link">
              <div data-i18n="Tables">기안하기</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/doc/signList" class="menu-link">
              <div data-i18n="Tables">결재하기</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- 게시물 수정 -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
      <!-- Forms -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-table"></i>
          <div data-i18n="Form Layouts">게시물</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/board/adminwrite" class="menu-link">
              <div data-i18n="Tables">게시물 입력</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/board/adminlist" class="menu-link">
              <div data-i18n="Tables">게시물 목록</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
      <li class="menu-item">
        <a href="/admin/calendar" class="menu-link">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Basic">캘린더</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-table"></i>
          <div data-i18n="Form Layouts">관리</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/admin/emp" class="menu-link">
              <div data-i18n="Tables">사원 관리</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/board/adminlist" class="menu-link">
              <div data-i18n="Tables">게시물 관리</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
<!-- End Left -->

</body>

</html>