<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="header-top">
        <div class="header-size">[[${web.korWebAdv}]]</div>
    </div>
    <div class="header-bottom">
        <div class="header-size">
            <div class="header-menu-flex">
                <div class="logo">로고</div>
                <div class="menu">
                    <ul>
                        <li th:each="menu: ${#strings.arraySplit(web.korWebMenus, ';')}">
                            <a href="">[[${menu}]]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</html>