@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
}
.container{
    background: #fff;
    width: 800px;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 5px 4px rgba(98, 64, 219, 0.1);
}
.container .title {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
/* .container form{
    padding: 30px 0 0 0 0;
}  */
.container .input-data-wrap {
    display: flex;
    column-gap: 20px;
    /* justify-content: space-between; */
}
.input-data {
    width: calc(100% / 2 - 20px);
    position: relative;
    padding: 20px;
}
.email-form {
    position: relative;

}
.email-form {
    padding: 20px;
    display: flex;
    margin-right: 20px;
}
.email-form input{
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.container form .input-data input[type=text],
.container form .input-data input[type=password],
.container form .input-data input[type=email],
.container form .input-data select {
    /* display: block;  */
    /* height: 100%; */
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.container .form-row .input-data span {
    font-size: 11px;
    color: rgb(238, 109, 109);
    font-weight: bold;
}
.input-data label {
    position: absolute;
    top: 30%;
    left: 10%;
    bottom: 10px;
    font-size: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-data .birth,
.input-data  .pnum {
    position: absolute;
    top: 20%;
    pointer-events: none;
    transition: all 0.3s ease;
}
.email {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-data input:focus ~ label,
.email-form input:focus ~ label,
.input-data input:valid ~ label,
.email-form input:valid ~ label {
    transform: translateY(-20px);
    color: rgb(65, 121, 226);
    font-size: 13px;
}
.btn-wrap {
    font-family: 'Poppins', sans-serif;
}
.reg{
    margin-bottom: 30px;
}
.reg .btn1{
    display: block;
    width: 300px;
    height: 45px;
    padding: 5px;
    margin: 0 auto;
    border: none;
    background-color: rgba(80, 61, 250, 0.8);
    font-size: 17px;
    font-weight: 500;
    border-radius: 7px;
    color: #fff;

    opacity: 1;
    transition: 0.3s;
}
.btn1:hover{
    opacity: 0.9;
    /* color: #000; */
}
.login {
    text-align: center;
    margin-bottom: 40px;
}
.login .btn2 {
    /* position: absolute; */
    /* display: block; */
    /* margin:  15px 0 10px 210px; */
    color: #030303;
    font-size: 15px;
}